.load_more {
    background: none;
    border: none;
    color:#1C76C9;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.downArrow {
    margin: 5px 0 0 7px;
}


